 * {
  margin-left: 0px;
  margin-top: 10px;
 }

 h2 {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  color: rgb(17, 51, 17);
  padding: 10px;
 }
 
 h4 {
  font-size: 1.3rem;
  padding: 10px;
 }  

 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    color: rgb(30, 75, 30);
    padding: 10px;
  }

  b {
    color: rgb(18, 73, 23);
    font-size: 1.1rem;
    background-color: rgb(245, 242, 248);
  }

  article {
      font-style: initial;
  }